<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
	xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
	xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
	xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu"
	xmlns:edt="http://www.sdltridion.com/2009/GUI/Configuration/Merge">

  <resources>
    <cfg:extensiongroups>
      <cfg:extensiongroup name="SentToPublishNotificationExtension">
        <cfg:extension target="SDL.Web.UI.Models.Implementation">
          <cfg:insertafter>SentToPublishNotification</cfg:insertafter>
        </cfg:extension>
      </cfg:extensiongroup>
    </cfg:extensiongroups>

    <cfg:groups>

      <cfg:group name="SentToPublishNotification">
        <cfg:fileset>
          <cfg:file type="script">/Scripts/SendToPublishNotificationHandler.js</cfg:file>
        </cfg:fileset>
        <!--<cfg:dependencies>
          <cfg:dependency>SDL.Web.UI.Editors.CME</cfg:dependency>
        </cfg:dependencies>-->
      </cfg:group>

    </cfg:groups>
  </resources>

  <definitionfiles />

  <extensions>
    <ext:editorextensions />
    <ext:dataextenders />
    <ext:resourceextensions>
      <ext:resourceextension>SentToPublishNotificationExtension</ext:resourceextension>
    </ext:resourceextensions>
  </extensions>

  <commands />

  <contextmenus />

  <localization />

  <settings>

    <customconfiguration />
  </settings>
</Configuration>